<!DOCTYPE html>
<html>
    <body>
        <h1>HOME PAGE</h1>
        <%= todos %>
        <form action='/addToDo' method='POST'>
            <input type="text" id="asd" name="asd"/>
            <button type="submit">Add!</button>
        </form>
    </body>
</html>